<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles1.css">
    <title>
        box
    </title>
</head>

 
 <body>
    <div class="successpage"  >
    
          
<img src="https://simg.nicepng.com/png/small/251-2514254_properties-we-will-not-consider-x-mark.png" alt="not found" >


<p> failed </p>



     
<a href="/">Click here to home </a>
               
</body>
</html>

