<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <title>
       Home
    </title>
</head>
<link rel="stylesheet" href="/css/homeStyles.css">
 <body>
  
  
  <ul>
    <li><a>A M S 🚑 </a></li>
    
    <li><a href="#home">Home</a></li>
    <li><a href="#news">About us</a></li>
    <li><a href="#contact">Contact</a></li>
    <!-- <li style="float:right"><a class="active" href="/adminPage">Admin</a></li> -->
    <li style="float:right"><a class="active" href="/Signup">SignUp</a></li>
    
    <li style="float:right"><a class="active" href="/login">Login</a></li>
  </ul>
<div>
<h1>Who we are</h1>
  <p class="who-we-are">

     We are the team who will serve the patients with care ,We treat them as our own.
     Our employees are highly qualified, we do ambient  ambulance Service.
     with the help of this app we can easily find who is responsible.

  </p>


</div>
<footer>
  <p>For any details Contact :sathyaswaroop980@gmail.com</p>
  <p>2022</p>

</footer>

</body>
</html>