<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles1.css">
    <title>
        box
    </title>
</head>

 
 <body>
    <div class="successpage"  >
    
          
<img src="https://st.depositphotos.com/1775533/1288/i/600/depositphotos_12880120-stock-photo-green-check-mark.jpg" alt="not found" >


<p>Thank you;<br/> we'll be in touch shortly!</p>



     
<a href="/">Click here to home </a>
               
</body>
</html>

