body{
    background-color: rgb(203, 204, 206) ;
    color: rgb(17, 20, 20);
}
table {
    border: solid 2px whitesmoke;
    padding: 2px;
}
table tr{
    border: solid 2px rgb(16, 79, 79);
}
td{
    border: solid 2px rgb(16, 79, 79);
}
.user_panel{
   width: 500px;;
   height: 500px;
   border-color: solid 2px rgb(40, 40, 183);
   border-radius: 3%;
   box-shadow: 2 blue inset;
}

.Bookingform{
    color: red;
}
.booking{

color:red;
font-size: large;

}

.hidden{
    transition:1.5s;
    display: none;
}

.logout-btn{
    float: right;
}